/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.no-scroll {
  overflow: hidden;
}

/* Body and HTML must have 'height: 100%' and 'margin: 0' or it will screw up the layout */
/* font size on HTML is set to 22px as a base for the rest of the units which are all in rem */
body,
html {
  background: #fdfbf1;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 22px;
  z-index: 1;
}

/* Radial viz wrapper and SVG styles */
#wrapper-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: auto;
  height: 100%;
}

#wrapper-inner {
  display: inline-block;
  position: relative;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  margin: auto;
}

#svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Button styles */
button.zoom-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Concourse', sans-serif;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #282727;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  color: #282727;
}
.zoom-button:focus {
  outline: #ba3d27 solid 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.zoom-button:hover {
  -webkit-transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  -o-transition: transform 0.25s, box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s, -webkit-transform 0.25s,
    -webkit-box-shadow 0.25s;
  -webkit-box-shadow: 4px 4px 0 -1px #fbc60c;
  box-shadow: 4px 4px 0 -1px #fbc60c;
  -webkit-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

button.mobile-buttons {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  border: none;
  visibility: hidden;
  background: none;
}
.mobile-buttons:hover {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: none;
  background-color: none;
}
.mobile-buttons:focus {
  outline: #ba3d27 solid 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}

/* Legend link and image styles */
img.legend-img {
  image-rendering: optimizeQuality;
  max-width: 100%;
  max-height: 100%;
}
/* Legend modal styles */
.modal-window {
  position: fixed;
  background-color: #fdfbf1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  max-width: 2000px;
  height: auto;
}

.modal-close {
  font-family: 'Concourse', sans-serif;
  color: #aaa;
  line-height: 1.2;
  font-size: 0.7rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 70px;
  text-decoration: none;
  padding: 10px;
  opacity: 0.5;
}
.modal-close:before,
.modal-close:after {
  position: absolute;
  top: 20px;
  left: 50px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #282727;
}
.modal-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-close:hover {
  opacity: 1;
}

#legend-link {
  position: absolute;
  font-family: 'Concourse', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #282727;
  text-decoration: underline;
}
#legend-link:hover {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  color: #fbc60c;
}

/* Media queries */
@media all and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  button.zoom-button {
    font-size: 0.4rem;
    padding: 5px;
  }
  .zoom-button:hover {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/* Tooltip styles */
div.tooltip {
  position: absolute;
  text-align: left;
  padding: 0.7rem;
  font-family: 'Concourse-text', sans-serif;
  font-size: 0.8rem;
  color: #282727;
  line-height: 1.4;
  background: white;
  border: 1px solid #282727;
  pointer-events: none;
  max-width: 400px;
}

.tooltip-date {
  font-family: 'Concourse', sans-serif;
  font-size: 0.6rem;
}
.tooltip-title {
  font-size: 1rem;
}
.tooltip-detail {
  line-height: 1.2;
  margin-bottom: 0.35rem;
}

/* SVG and axis text styles */
.names {
  font-family: 'Triplicate-smcp', sans-serif;
}
.text_group {
  font-family: 'Concourse-text', sans-serif;
}
.grid_text {
  font-family: 'Concourse-text', sans-serif;
}
.date_text {
  font-family: 'Concourse-text', sans-serif;
}
.hurricane-year {
  font-family: 'Concourse-text', sans-serif;
}

/* Scroll indicator styles and animation */
#scrollIndicator {
  stroke: #282727;
  fill: none;
}

#scrollToTurn {
  stroke-width: 0.5px;
}

#turnArrows {
  stroke: 0.5px;
}

#down1 {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#down2 {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#down3 {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* page styles */
p {
  font-family: 'Equity-text', serif;
  line-height: 1.44em;
  padding: 0 20px 20px 20px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
  color: #282727;
  background: #fdfbf1;
}
p:last-of-type {
  margin-bottom: 0;
}

h1 {
  font-family: 'Advocate C63', sans-serif;
  font-size: 8rem;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
}

h2 {
  font-family: 'Advocate C45', sans-serif;
  font-size: 2rem;
  max-width: 600px;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}

h3 {
  font-family: 'Advocate C45', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
  padding: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
h3:first-of-type {
  padding-top: 3rem;
}

img {
  image-rendering: optimizeQuality;
  max-width: 100%;
  max-height: 100%;
}
img.desc-img {
  display: block;
  max-width: 1000px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
img.full-img {
  display: block;
  max-width: 1500px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

hr {
  box-sizing: border-box;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  background: #aaa;
  transform: rotate(45deg);
  transform-origin: center;
  position: relative;
  overflow: visible;
}
hr::before,
hr::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background: #aaa;
  border: 2px solid #aaa;
  fill: none;
  border-image: none;
}
hr::before {
  right: 20px;
  top: 20px;
}
hr::after {
  bottom: 20px;
  left: 20px;
}

#hero {
  /* background: url(static/hurricane-edit-upscale-smooth-1.mp4) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* background: none;
  height: 100%;
  color: #282727;
  opacity: 1;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem; */
  width: 100%;
  height: 100%;
}
#bgvideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed;
  top: 0;
  left: 0; */
  z-index: -2;
}
.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.intro-text > h1 {
  line-height: 0.8em;
  margin-bottom: 2.5rem;
}
.bg-cover {
  width: 100%;
  background: #fdfbf1;
}
@media all and (max-width: 500px) {
  .intro-text > h1 {
    font-size: 7rem;
  }
  p {
    line-height: 1.3em;
  }
}
@media all and (max-width: 1500px) {
  img.full-img {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  img.desc-img {
    width: 90%;
  }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
  background-color: #c23321;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--hackernews {
  background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #fb6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
}

.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}
